@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0 10px 0 10px;
    min-height: 500vh;
    background-color: rgb(139, 201, 228);
    animation: body 1s linear;
    font-family: 'Roboto', sans-serif;
  }
  @keyframes body {
    to {
      background-color: rgb(42, 85, 160);
    }
  }

  


:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }


h1 {
    margin: 0;
    font-family: 'Roboto Black', sans-serif;
    line-height: 1;
    font-size: 64px;
 
  
}

h2 {
    margin: 0;
    font-family: 'Roboto Black', sans-serif; 
    font-size: 42px;
    background-color: white;
}

ul {
    list-style: none;  
    font-size: clamp(.5em, 20px, 2em);
    padding-left: 0;
}

li {
    margin-bottom: .5em;
    
    margin-right:   10px;
}

li .email{
    display: flex;
    background-color: wheat;
}

.header {
    margin: 50px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

@media only screen and (min-width: 850px) {
.container {
   display: grid;
   column-gap: 50px;
   grid-template-columns: 65ch minmax(85ch, 1fr) minmax(65ch, 1fr);
  
 
  
}
}

.flex-wrapper {
    display: flex;
}


.vaardigheden, .werkervaring, .opleiding {
  
    

    
}

.opleiding .flex-wrapper {
    display: flex;
    flex-direction: column;
    
}