body {
    margin: 0 10px 0 10px;
    font-family: 'Roboto';
    background-image:  linear-gradient(#444df725 2.7px, transparent 2.7px), linear-gradient(to right, #444df725 2.7px, #e5e5f752 2.7px);
background-size: 65px 65px;
z-index: -1;
}

@media only screen and (min-width: 600px) {
body {
    margin: 0px 100px 0px 100px;
    padding: 10px; 
    font-family: 'Roboto';

background-image:  linear-gradient(#444df725 2.7px, transparent 2.7px), linear-gradient(to right, #444df725 2.7px, #e5e5f752 2.7px);
background-size: 65px 65px;
z-index: -1;
}
}

h1 {
 font-family: 'Roboto Black';
 font-size: clamp(2em, 3.5em, 4em);
}

h2 {
 font-size: clamp(1em, 2em, 3em);   
 font-family: 'Roboto Black'; 
 background-color: white;
 
 
}


ul {
    list-style: none;  
    font-size: clamp(.5em, 1.2em, 2em);
   
    padding-left: 0;
}

li {
    margin-bottom: .5em;
    font-size: clamp(.2em, 1em, 2em);
    
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

@media only screen and (min-width: 850px) {
.container {
   display: grid;
   column-gap: 50px;
   grid-template-columns: min-content 1fr;
   background-color: cornsilk;
 
  
}
}

.flex-wrapper {
    display: flex;
}


.vaardigheden, .werkervaring, .opleiding {
  
    

    
}

.opleiding .flex-wrapper {
    display: flex;
    
}